body{
    padding: 0px;
    background-color:#F1F1F1;
}

.wrapper {
    background: #CCCCCC;
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    margin: auto;
    position: relative;
    width: 1000px;
    margin-top: 20px;
    padding:20px;
    border-radius: 15px;
}

.form.but{
    padding: 5px;
    margin-top: 10px;
}
.form input{
    padding:4px;
    width: 158px;
}

.form select{
    padding: 5px;
    width:160px;
}

.form button{
    padding:5px;
    margin-top: 10px;
}
